*{
    font-family: 'TrebuchetMS', 'ArialMT', sans-serif;
}

body{
    max-width: 90%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 50px;
    line-height: 150%;
}

h1{
    font-weight: normal;
}

#NoBulletList li{
    list-style-type: none;
}

#MainImg img{
    min-width: 90%;
}